
<!-- <div>
  <form #myform="ngForm" (ngSubmit)="invio(myform.value)">

    <label for="nome">Nome</label>
    <input type="text" name="nome" placeholder="Nome" [(ngModel)] ="nome">

    <label for="cognome">Cognome</label>
    <input type="text" name="cognome" placeholder="cognome" [(ngModel)] ="cognome">

    <button type="submit">sdfsdf</button>
  </form>
</div> -->

<!-- <div>
  <form #myform="ngForm" (ngSubmit)="invio(myform.value)">
    <div class="form-group">
      <input type="text" class="form-control" name="nome" [(ngModel)]="model.nome" #nome="ngModel" [ngClass]="{'if-invalid':myform.submitted && nome.invalid} " required>
      <div [hidden]="nome.valid" class="alert alert-danger"> nome is requires</div>
    </div>
    <button type="submit" [disabled]="!myform.form.valid">Click</button>
  </form>
</div> -->

<form [formGroup]="myform" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="name" required>
  <div formGroupName="indirizzo">
    <input id="via" type="text" formControlName="via">
  </div>
  <button type="submit" [disabled]="!myform.valid">Click</button>
</form>
